version: 2
updates:
- package-ecosystem: cargo
  directory: "/"
  schedule:
    interval: monthly
    time: "07:00"
  open-pull-requests-limit: 10
  labels:
    - C-dependencies
- package-ecosystem: "github-actions"
  directory: "/"
  schedule: 
    interval: monthly
  open-pull-requests-limit: 10
  labels: 
   - "C-dependencies"
