sudo: false
language: rust
rust:
  - nightly
  - nightly-2016-10-21
  - beta
  - stable
matrix:
    allow_failures:
        - rust: nightly
before_script:
  - |
    pip install 'travis-cargo<0.2' --user &&
    export PATH=$HOME/.local/bin:$PATH
script:
  - |
    travis-cargo test -- --verbose --no-default-features &&
    travis-cargo --skip nightly test -- --verbose --features "yaml unstable" &&
    travis-cargo --only nightly test -- --verbose --features "yaml unstable nightly" &&
    travis-cargo --only nightly bench
addons:
  apt:
    packages:
    - libcurl4-openssl-dev
    - libelf-dev
    - libdw-dev
after_success:
  - |
    travis-cargo --only stable coveralls --no-sudo -- --features "yaml unstable"
env:
  global:
    - TRAVIS_CARGO_NIGHTLY_FEATURE=lints
    - secure: JLBlgHY6OEmhJ8woewNJHmuBokTNUv7/WvLkJGV8xk0t6bXBwSU0jNloXwlH7FiQTc4TccX0PumPDD4MrMgxIAVFPmmmlQOCmdpYP4tqZJ8xo189E5zk8lKF5OyaVYCs5SMmFC3cxCsKjfwGIexNu3ck5Uhwe9jI0tqgkgM3URA=
