[package]

name = "clap"
version = "0.4.15"
authors = ["Kevin K. <kbknapp@gmail.com>"]
exclude = ["docs/*", "examples/*", "claptests/*"]
description = "A simple and efficient Command Line Argument Parser"
repository = "https://github.com/kbknapp/clap-rs.git"
documentation = "http://kbknapp.github.io/clap-rs/docs/clap/index.html"
readme = "README.md"

keywords = ["argument", "command", "arg", "parser", "parse"]

license = "MIT"

[dependencies]
libc = "*"
