[package]
name = "clap"
version = "3.0.0-beta.4"
edition = "2018"
authors = [
	"Kevin K. <kbknapp@gmail.com>",
	"Clap Maintainers"
]
include = [
	"src/**/*",
	"Cargo.toml",
	"README.md"
]
description = "A simple to use, efficient, and full-featured Command Line Argument Parser"
repository = "https://github.com/clap-rs/clap"
documentation = "https://docs.rs/clap/"
homepage = "https://clap.rs/"
keywords = [
	"argument",
	"cli",
	"arg",
	"parser",
	"parse"
]
categories = ["command-line-interface"]
license = "MIT OR Apache-2.0"
readme = "README.md"

[lib]
bench = false

[[bench]]
harness = false
name = "01_default"
path = "benches/01_default.rs"

[[bench]]
harness = false
name = "02_simple"
path = "benches/02_simple.rs"

[[bench]]
harness = false
name = "03_complex"
path = "benches/03_complex.rs"

[[bench]]
harness = false
name = "04_new_help"
path = "benches/04_new_help.rs"

[[bench]]
harness = false
name = "05_ripgrep"
path = "benches/05_ripgrep.rs"

[[bench]]
harness = false
name = "06_rustup"
path = "benches/06_rustup.rs"

[dependencies]
clap_derive = { path = "./clap_derive", version = "=3.0.0-beta.4", optional = true }
bitflags = "1.2"
textwrap = { version = "0.14.0", default-features = false, features = [] }
unicase = { version = "2.6", optional = true }
indexmap = "1.0"
os_str_bytes = "4.1"
strsim = { version = "0.10",  optional = true }
yaml-rust = { version = "0.4.1",  optional = true }
atty = { version = "0.2",  optional = true }
termcolor = { version = "1.1", optional = true }
terminal_size = { version = "0.1.12", optional = true }
lazy_static = { version = "1", optional = true }
regex = { version = "1.0", optional = true }
backtrace = { version = "0.3", optional = true }

[dev-dependencies]
regex = "1.0"
lazy_static = "1"
version-sync = "0.9"
criterion = "0.3.2"

[features]
default = [
	"std",
	"derive",
	"cargo",
	"color",
	"env",
	"suggestions",
	"unicode",
]
debug = ["clap_derive/debug", "backtrace"] # Enables debug messages

# Used in default
std = ["indexmap/std"] # support for no_std in a backwards-compatible way
derive = ["clap_derive", "lazy_static"]
cargo = ["lazy_static"] # Disable if you're not using Cargo, enables Cargo-env-var-dependent macros
color = ["atty", "termcolor"]
env = [] # Use environment variables during arg parsing
suggestions = ["strsim"]
unicode = ["textwrap/unicode-width", "unicase"]  # Support for unicode characters in arguments and help messages

# Optional
wrap_help = ["terminal_size", "textwrap/terminal_size"]
yaml = ["yaml-rust"]
nightly = []

# In-work features
unstable-replace = []

[profile.test]
opt-level = 1

[profile.bench]
lto = true
codegen-units = 1

[package.metadata.docs.rs]
features = ["yaml", "regex", "unstable-replace", "nightly"]
targets = ["x86_64-unknown-linux-gnu"]

[workspace]
members = [
	"clap_derive",
	"clap_generate",
	"clap_generate_fig",
	"clap_up",
]
default-members = [
	".",
	"clap_derive",
	"clap_generate",
]
