[package]

name = "clap"
version = "2.24.2"
authors = ["Kevin K. <kbknapp@gmail.com>"]
exclude = ["examples/*", "clap-test/*", "tests/*", "benches/*", "*.png", "clap-perf/*", "*.dot"]
repository = "https://github.com/kbknapp/clap-rs.git"
documentation = "https://docs.rs/clap/"
homepage = "https://clap.rs/"
readme = "README.md"
license = "MIT"
keywords = ["argument", "command", "arg", "parser", "parse"]
categories = ["command-line-interface"]
description = """
A simple to use, efficient, and full featured  Command Line Argument Parser
"""

[dependencies]
bitflags              = "0.8.0"
vec_map               = "0.8"
unicode-width         = "0.1.4"
unicode-segmentation  = "1.0.1"
strsim    = { version = "0.6.0",  optional = true }
ansi_term = { version = "0.9.0",  optional = true }
term_size = { version = "0.3.0",  optional = true }
yaml-rust = { version = "0.3.5",  optional = true }
clippy    = { version = "~0.0.131", optional = true }
atty      = { version = "0.2.2",  optional = true }

[dev-dependencies]
regex = "0.2"
lazy_static = "0.2"

[features]
default     = ["suggestions", "color", "wrap_help"]
suggestions = ["strsim"]
color       = ["ansi_term", "atty"]
wrap_help   = ["term_size"]
yaml        = ["yaml-rust"]
unstable    = [] # for building with unstable clap features (doesn't require nightly Rust) (currently none)
nightly     = [] # for building with unstable Rust features (currently none)
lints       = ["clippy"] # Requires nightly Rust
debug       = [] # Enables debug messages
no_cargo    = [] # Enable if you're not using Cargo, disables Cargo-env-var-dependent macros

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
# codegen-units ignored with lto=true

[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4

[profile.test]
opt-level = 1
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false

[profile.doc]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4
