[package]
name = "structopt"
version = "0.0.4"
authors = ["Guillaume Pinot <texitoi@texitoi.eu>"]
description = "Parse command line argument by defining a struct."
documentation = "https://docs.rs/structopt"
repository = "https://github.com/TeXitoi/structopt"
keywords = ["clap", "cli", "derive", "docopt"]
categories = ["command-line-interface"]
license = "WTFPL"
readme = "README.md"

[badges]
travis-ci = { repository = "TeXitoi/structopt" }

[dependencies]
clap = "2.20"

[dev-dependencies]
structopt-derive = { path = "structopt-derive", version = "0.0.3" }

[workspace]
