[package]

name = "clap"
version = "2.14.0"
authors = ["Kevin K. <kbknapp@gmail.com>"]
exclude = ["examples/*", "clap-test/*", "tests/*", "benches/*", "*.png", "clap-perf/*", "*.dot"]
repository = "https://github.com/kbknapp/clap-rs.git"
documentation = "https://docs.rs/clap/"
homepage = "https://clap.rs/"
readme = "README.md"
license = "MIT"
keywords = ["argument", "command", "arg", "parser", "parse"]
description = """
A simple to use, efficient, and full featured  Command Line Argument Parser
"""

[dependencies]
bitflags  = "~0.7"
vec_map   = "~0.6"
libc      = { version = "~0.2.9",  optional = true }
ansi_term = { version = "~0.9.0",  optional = true }
strsim    = { version = "~0.5.1",  optional = true }
yaml-rust = { version = "~0.3.2",  optional = true }
clippy    = { version = "~0.0.88", optional = true }
unicode-width = "~0.1.3"
unicode-segmentation = "~0.1.2"
term_size = { version = "~0.2.0", optional = true }

[dev-dependencies]
regex = "~0.1.69"

[features]
default     = ["suggestions", "color", "wrap_help"]
suggestions = ["strsim"]
color       = ["ansi_term", "libc"]
yaml        = ["yaml-rust"]
wrap_help   = ["libc", "term_size"]
lints       = ["clippy"] # Requires nightly Rust
nightly     = [] # for building with nightly and unstable features
unstable    = [] # for building with unstable features on stable Rust
debug       = [] # for building with debug messages

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
# codegen-units ignored with lto=true

[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4

[profile.test]
opt-level = 1
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 2

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false

[profile.doc]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4
