[package]

name = "clap"
version = "2.1.0"
authors = ["Kevin K. <kbknapp@gmail.com>"]
exclude = ["examples/*", "clap-tests/*", "tests/*", "benches/*", "*.png", "clap-perf/*"]
description = "A simple to use, efficient, and full featured  Command Line Argument Parser"
repository = "https://github.com/kbknapp/clap-rs.git"
documentation = "http://kbknapp.github.io/clap-rs"
readme = "README.md"
license = "MIT"
keywords = ["argument", "command", "arg", "parser", "parse"]

[dependencies]
bitflags  = "~0.4"
vec_map   = "~0.4"
ansi_term = { version = "~0.7.2",  optional = true }
strsim    = { version = "~0.4.0",  optional = true }
yaml-rust = { version = "~0.3",    optional = true }
clippy    = { version = "~0.0.41", optional = true }

[features]
default     = ["suggestions", "color"]
suggestions = ["strsim"]
color       = ["ansi_term"]
yaml        = ["yaml-rust"]
lints       = ["clippy", "nightly"]
nightly     = [] # for building with nightly and unstable features
unstable    = [] # for building with unstable features on stable Rust
debug       = [] # for building with debug messages
travis      = ["lints", "nightly"] # for building with travis-cargo

[profile.release]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false
# codegen-units ignored with lto=true

[profile.dev]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4

[profile.test]
opt-level = 1
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 2

[profile.bench]
opt-level = 3
debug = false
rpath = false
lto = true
debug-assertions = false

[profile.doc]
opt-level = 0
debug = true
rpath = false
lto = false
debug-assertions = true
codegen-units = 4
